body{
    font-family:"Lato";
}

.col-left{
    width: 80%;
    display: inline-table;
}
.sidebar{
    width: 20%;
    float: right;
    display: block;
}
.input-live{

    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    width: 50%;
    height:50%;
    font-size: 300%;
    font-weight: 900;


    /*font-family:"Lato"*/
}
.header-logo{
    width: 80%;
    position: relative;
    float: right;
}



.radio-check{
    /* Style for "Oval" */
    width: 184px;
    height: 18px;
    background-color: #96deb0;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 13.8px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 2px #0d0d0d;

    /*border: 1px solid #000000;*/
    height: 16px;
    width: 16px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-bottom: 1%;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    background: linear-gradient(217deg, rgba(173, 206, 239, 1) 0%, rgba(169, 223, 210, 1) 100%);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /*border: 1px solid #000000;*/
    width: 184px;
    height: 18px;
    border-radius: 3px;
    background: linear-gradient(217deg, rgba(173, 206, 239, 1) 0%, rgba(169, 223, 210, 1) 100%);
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: linear-gradient(217deg, rgba(173, 206, 239, 1) 0%, rgba(169, 223, 210, 1) 100%);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range]::-ms-fill-upper {
    background: linear-gradient(217deg, rgba(173, 206, 239, 1) 0%, rgba(169, 223, 210, 1) 100%);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range]::-ms-thumb {
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    border: 1px solid #000000;
    width: 184px;
    height: 18px;
    border-radius: 3px;
    background: linear-gradient(217deg, rgba(173, 206, 239, 1) 0%, rgba(169, 223, 210, 1) 100%);
    cursor: pointer;
    height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(217deg, rgba(173, 206, 239, 1) 0%, rgba(169, 223, 210, 1) 100%);
}
input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(217deg, rgba(173, 206, 239, 1) 0%, rgba(169, 223, 210, 1) 100%);
}



.ngram-number{
    overflow: hidden;
    width: 184px;
    height: 18px;
    border-radius: 10px;
    background: linear-gradient(217deg, rgba(173, 206, 239, 1) 0%, rgba(169, 223, 210, 1) 100%);
    position: relative;
    -webkit-appearance: none;
    width: 184px;
    margin: 13.8px 0;
}
#ngrams{
    position: relative;
    font-size: 600%;
    opacity: 0.51;
    color: #a1c7ed;
    font-weight: 900;

}
.strategy{
    position: relative;
    float: right;

}
#strategy{
    /* Style for "Strategy" */
    opacity: 0.73;
    color: #6d7278;
    font-family: Lato;
    font-size: 250%;
    font-weight: 400;
    float:left;
    margin-bottom: 2%;
}
.ngrams-choice{
    position: static;
    float: right;
}
.Bubble{
    padding-top: 1%;
    display: block;
    float: right;
}
hr{
    /* Style for "Rectangle" */
    width: 100%;
    height: 12px;
    border-radius: 12px;
    background-image: linear-gradient(to right, #a2c7ed 0%, #44d6b6 100%);
    border-style: none;
}



.parameters{
display: table-row;
}
.engagement{
     background-color: #a3c9af;
}

.strategy>ul{
    list-style:none;
    float: left;
}
.parameters>ul{
    list-style:none;
    float: left;
}
.App{
    margin:2%;
}

.range1{
    overflow: hidden;
    width: 133px;
    height: 18px;
    border-radius: 10px;
    background: #a3c9af;
    position: relative;
}
.range2{
     overflow: hidden;
     width: 133px;
     height: 18px;
     border-radius: 10px;
     background-color: #c1d881;
     position: relative;
 }
.range3{
     overflow: hidden;
     width: 133px;
     height: 18px;
     border-radius: 10px;
     background-color: #f0e676;
     position: relative;
 }
.range4{
    overflow: hidden;
    width: 133px;
    height: 18px;
    border-radius: 10px;
    background-color: #eeb989;
    position: relative;
}
.range5{
    overflow: hidden;
    width: 133px;
    height: 18px;
    border-radius: 10px;
    background-color: #e39d9d;
    position: relative;
}


.range{
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    height: 18px;

}
input[type=radio]{
    -webkit-appearance: none;
    width: 21px;
    height:21px;
    box-shadow: inset 0 0 3px #ffffff, inset 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
input[type=radio]:checked{
    background-color: #96deb0;
}
input[type=text]{
    font-family: "Lato";
    color: #adceef;
}
input[type=text]:focus{
    outline:none;
}

.deconnexion{
    float: left;
    padding-top:0.5%;
    color: #bab9b5;

}
.deco{
    padding-right: 1%;
    float: left;

}
.keys{
    /* Style for "Keywords" */
    color: #adceef;
    font-family: "Lato";
    font-size:150%;
    font-weight: 900;
    margin-top: 0.5%;
    margin-bottom: 0.5%;

}
.compte{
    float: right;
    display: block;

}
